.background-pagina{
    background: #9DA39A;
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    padding: 10px;
    margin:auto;
}
.caja-logo .logo{
    filter: hue-rotate(135deg);
}
 .titulo{
    font-size: 2.5em;
    font-weight: bold;
    color: #5a0b0b;
}
.contenedor{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin:auto;
}
main{
    display: flex;
    width: 66%;
    flex-direction: column;
}
.sec-mensaje-introducido{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.campo-mensaje-introducido{
    width: 100%;
    max-width: 700px;
    border: none;
    font-size: 2em;
    background: #9DA39A;
    padding: 10px 0;
    margin-bottom: 100px;
    font-weight: lighter;
    color: #5a0b0b;
}
::placeholder{
    color: #5a0b0b;
    border: none;
}
.caja-indicaciones{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 135px;

}
.caja-indicaciones .imagen-exclamacion{
    padding: 10px 0;
}
.caja-indicaciones .texto-indicaciones{
    font-size: 1.25em;
    color: #5a0b0b;
}
.caja-botones{
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.boton-encriptar, .boton-desencriptar{
    padding: 24px 0;
    margin: 1%;
    width: 46%;
    transition: 1s all;
    cursor:pointer;
}
.boton-encriptar{
    background: #5a0b0b;
    border-radius: 24px;
    color: #9DA39A;
    font-size: 1em;
}
.boton-encriptar:hover{
    background: #380404;
    transform: scale(1.1);
}
.boton-desencriptar{
        background: #9DA39A;
        border-radius: 24px;
        color: #5a0b0b;
        margin:0 0 0 5%;
        font-size: 1em;
}
.boton-desencriptar:hover{
    background: #ffffff;
    transform: scale(1.1);
}
aside{
    display: flex;
    width: 30%;
    flex-direction: column;
    margin: 2%;
    text-align: center;
}
.mensaje-encriptado{
    /* White */
    background: #9DA39A;
    /* shadow */
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}
.mensaje-transformado{
    width: 100%;
    border-radius: 32px;
    text-align: center;
    font-size: 1.5em;
    padding: 15px 0;
    color: #5a0b0b;
}
.ajustar-mensaje{
    overflow-wrap: break-word;
}
.imagen{
    width: 100%;
}
#imagen-muñeco{
    filter: invert(0.2) sepia(0) hue-rotate(135deg) saturate(80%);
    width: 70%;
    
}
.ningun-mensaje{
    padding: 0px 10px;
    font-weight: 600;
    font-size: 1.25em;
    text-align: center;
}
.texto-informativo{
    padding: 10px 10px;
    font-weight: 400;
    font-size: 1em;
    text-align: center;
}
.copiar-mensaje{
    width: 80%;
    padding: 24px 0;
    transition: 1s all;
    cursor:pointer;
    background: #5a0b0b;
    border-radius: 24px;
    color: #9DA39A;
    font-size: 1em;
    margin-bottom: 5px;
}
.copiar-mensaje:hover{
    background: #380404;
    transform: scale(1.1);
}
.fadeOut{
    opacity: 0;
    transition: 0.5s;
}
footer{
    background: #380404;  
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    padding:15px;
}
.contenedor-footer{
    display: flex;
    width: 90%;
    max-width: 1000px;   
}
.imagen-pie-pagina{
    filter: invert(0.3) sepia(1) hue-rotate(126deg) saturate(20%);
}
.piePagina{
    padding: 15px;
}
.piePagina a{
    text-decoration: none;
    color:#9DA39A;
    font: 2em;
}
.piePagina a:hover{
    text-decoration: underline;
    color:#f2f2f2;
}
.invisible{display:none;}
@media screen and (max-width:850px){
    .mensaje-header .titulo{
        font-size: 2em;
    }
    main{
        width: 60%;
    }
    .campo-mensaje-introducido{
        font-size: 1.4em;
    }
    .caja-indicaciones .texto-indicaciones{
        font-size: 0.85em;
    }
    aside{
        width: 40%;
    }
    .imagen{
        margin: auto;
        width: 80%;
    }
    .ningun-mensaje{
        font-size: 1.1em;
    }
    .texto-informativo{
        font-size: 0.85em;
    }
    .boton-encriptar, .boton-desencriptar{
        width: 40%;
    }
}
@media screen and (max-width:550px){
    header{
        flex-direction: column;
        justify-content: initial;
        text-align: center;
    }
    .caja-logo .logo{
        margin-bottom: 10px;
    }
    .mensaje-header .titulo{
        font-size: 1.5em;
    }
    .contenedor{
        flex-direction: column;
    }
    main {
        width: 100%;
    }
    .campo-mensaje-introducido{
        margin-bottom: 50px;
    }
    .caja-indicaciones{
        margin-top: 50px;
    }
    .caja-botones{
        flex-direction: column;
    }
    .boton-encriptar, .boton-desencriptar{
        width: 100%;
        margin: 8px 0px;
        padding: 15px;
        
    }
    aside{
        width: 100%;
    }
    .mensaje-encriptado{
        width: 90%;
        margin-bottom: 8px;
        margin: auto;
    }
    .copiar-mensaje{
        padding: 15px;  
    }
}